.sustainable{
    display:flex;
    justify-content: space-between;
    margin-top: 190px;
    .pinkBlock{
        flex-basis: 48%;
        max-width: 500px;
        height: 484px;
        background: #e8d1c3;
        position:relative;
        margin-top: 177px;
        h3{
            font-size: 41px;
            font-weight: 500;
            max-width: 10%;
            position: absolute;
            top:-187px;
            left:15%;
        }
        p{
            font-size: 34px;
            font-weight: 500;
            max-width: 77%;
            float: right;
            text-align: right;
            letter-spacing: 2px;
            line-height: 1.2;
        }
        .button{
            position: absolute;
            bottom:-24px;
            right:-2px;
        }
    }
    .imgBlock{
        flex-basis: 48%;
        img{
            display: block;
            max-width: 100%; 
            height: auto;
        }
    }
}
@media (max-width: 990px){
    .sustainable{ 
        .pinkBlock{
            height: 300px;
            margin-top: 100px;
            h3{
                font-size: 2.375rem;
                top:-150px;
            }
            p{
                font-size: 1.875rem;
                max-width: 90%;
            }   
        }
    }
}
@media (max-width: 770px){
    .sustainable{ 
        .pinkBlock{
            height: 220px;
            margin-top: 90px;
            h3{
                font-size: 1.875rem;
                top:-150px;
            }
            p{
                font-size: 1.375rem;
            }   
        }
    }
}
@media (max-width: 550px){
    .sustainable{
        display:block;    
        .pinkBlock{
            margin: 0 auto;
            h3{
                font-size: 1.125rem;
                max-width: 10%;
                top:-70px;
                left:5%;
            }
            p{
                font-size: 1.125rem;
                max-width: 63%;
            }
            .button{
                bottom: 0px;
                right:0px;
                button{
                    font-size: 16px;
                }
            }
        }
        .imgBlock{
            max-width: 500px;
            margin:0 auto;
        }
    }
}